@import 'tailwindcss';
@import '@catppuccin/tailwindcss/mocha.css';
@import '@fontsource-variable/inter';
@source "../**/*.{ts,tsx}";

:root {
  --background: var(--catppuccin-color-base);
  --foreground: var(--catppuccin-color-text);
  --card: var(--catppuccin-color-mantle);
  --card-foreground: var(--catppuccin-color-text);
  --popover: var(--catppuccin-color-mantle);
  --popover-foreground: var(--catppuccin-color-text);
  --primary: var(--catppuccin-color-mauve);
  --primary-foreground: var(--catppuccin-color-base);
  --secondary: var(--catppuccin-color-pink);
  --secondary-foreground: var(--catppuccin-color-base);
  --muted: var(--catppuccin-color-surface0);
  --muted-foreground: var(--catppuccin-color-subtext1);
  --accent: var(--catppuccin-color-pink);
  --accent-foreground: var(--catppuccin-color-base);
  --destructive: var(--catppuccin-color-red);
  --border: var(--catppuccin-color-surface0);
  --input: var(--catppuccin-color-overlay0);
  --ring: var(--catppuccin-color-overlay1);
  --chart-1: var(--catppuccin-color-blue-100);
  --chart-2: var(--catppuccin-color-blue-300);
  --chart-3: var(--catppuccin-color-blue);
  --chart-4: var(--catppuccin-color-blue-700);
  --chart-5: var(--catppuccin-color-blue-900);
  --radius: 0.45rem;
  --sidebar: var(--catppuccin-color-mantle);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@theme inline {
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background font-sans text-foreground;
  }

  html {
    @apply font-sans;
  }
}
